name: CI - Tests, JaCoCo, PIT & Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & run unit tests
        run: mvn clean test

      - name: Run PIT mutation tests
        run: mvn pitest:mutationCoverage

      - name: Build JAR
        run: mvn package -DskipTests

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t aqeelomar/csv-app-sd:latest .

      - name: Push Docker image
        run: docker push aqeelomar/csv-app-sd:latest

      - name: Upload JaCoCo report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco

      - name: Upload PIT report
        uses: actions/upload-artifact@v4
        with:
          name: pit-report
          path: target/pit-reports
