name: CI - Build, Test & Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & run tests
        run: mvn clean test

      - name: Package application
        run: mvn package

      - name: Build Docker image
        run: docker build -t csv-app:latest .
